
*{
    color: black;
    font-family: sans-serif;
    box-sizing: border-box;
}

.header{ 

            background-color: black;
            padding: 18px 0 19px 0;
}

.container{
            max-width: 1160px;
            width: 100%;
            padding: 0 10px 0 10px;
            margin: 0 auto;
}

.header__container{
            display: flex;
            justify-content: space-between;
}

.header__logo{
            margin: 0 41px 0 0;
}
.header__nav a:not(:last-child){
            margin: 0 33px 0 0;
}

.promo{
            background-color: #F1E4E6;
}

.promo__container{
            
            display: flex;
            justify-content: space-between;
            align-content: center;
            
}
.promo_text{
   
            padding-top: 59px;
}
.promo_text h1{
            margin: 0;
            padding: 0;
            color: #F16D7F;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
}

.path{
            padding-top: 65px;
            padding-bottom: 66px;
            color: #636363;
}
.breadcrumbs {
            margin: 0;
            padding: 0;
            list-style: none;
}
  
.breadcrumbs-item {
            display: inline-block;
            vertical-align: top;
            margin-right: 5px;
}
  
.breadcrumbs-item:not(:last-child):after {
            content: "/";
            margin-left: 5px;
}
  
.breadcrumbs-link {
            color: #636363;
            text-decoration: none;
}
  
.breadcrumbs-link:not(span):hover {
            text-decoration: underline;
}
  
.breadcrumbs-link.current {
            color:  #F16D7F;
}
.filter__container{
            display: flex;
            box-sizing: border-box;
            padding: 51px 20px 64px 20px;
}
.sort1{
            display: inline-flex;
            justify-content: space-around;
            margin-left: 340px;
            gap: 27px;
}
.sort{
            color:#6F6E6E;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
}
.filter__text{
            font-size: 14px;
}
.item__group {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            text-align: left;
            gap: 30px;
}
.item__card {
            display: flex;
            width: 360px;
            height: 581px;
            background: #F8F8F8;
            display: block;
}
.content__txt{
            font-size: 14px;
            color: #5D5D5D;
}

.title{
            font-size: 13px;
            font-weight: normal;
            color: #000000;
}

.img{
            width: 100%;
}
.price-tag{
            color: #F16D7F;
}
ul.pagination {
            display: inline-block;
            padding: 0;
            margin: 0;
            border:  1px solid #EBEBEB;
}

ul.pagination li {
            display: inline;
}

ul.pagination li a {
            color:#EBEBEB;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
}

.active {   
            color:  #F16D7F;
}

ul.pagination li a:hover:not(.active) {
            background-color: #ddd;
}
.scroller{
            margin-top: 48px;
            align-self: center;
            margin-bottom: 96px;
            justify-content: center;
            align-items: center;
            display: flex;
}

.pages{
            font-size: 16px;
}

.delivery{
            background-color: #222224;  

}
.delivery_container{
            display: flex;
            width: 100%;
            justify-content: space-between;
            padding-top: 104px;
            padding-bottom: 104px;
            gap: 30px;
            align-items: baseline;
}
.section__txt{
            color: #FBFBFB;;
            font-weight: normal;  
            font-style: normal;
            font-size: 19.96px;
            font-family: sans-serif;
}
.section__info{
            display: block;
            justify-content: center;
            text-align: center;
}
.info{
            color: white;
            font-size: 13px;
            font-family: sans-serif;
            font-style: normal;
}

.subscribe{
            background-image: url(img/subscribe.png);  
}

.subscribe__container{
            min-height: 448px;
            display: flex;
            justify-content: space-around;
            text-align: -webkit-center;
            align-items: baseline;
            padding-top: 86px;   
}
.sub__txt{
            font-family: Lato;
            font-style: italic;
            font-size: 20px;
            color: #222224;
            text-align: center;
}

.form{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 32px;
}

.sub__mail, .sub__btn{
            padding: 20px;
}

.sub__mail{
            border-radius: 20px 0 0 20px;
            background: #E1E1E1;
            border: none;
            display: flex;
            align-items: center;
            font-size: 14px;
            color: #222224;
            opacity: 0.67;
}
.sub__mail:focus{
            outline: none;
            background-color: thistle;
}

.sub__btn{
            border-radius: 0 20px 20px 0;
            background: #F16D7F;
            border: none;
            font-size: 14px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #FFFFFF;

}
.promotion{
            font-size: 18px;
            font-weight: normal;
            color: #222224;
}
.footer{
            background-color: black;
            padding: 18px 0 19px 0;
}
.copy{
            color: white;
}

.footer__container{
            display: flex;
            justify-content: space-between;
}